.sidebar {
	min-width: 300px;
	border-radius: 0.25rem;
	--tw-bg-opacity: 1;
  background-color: rgb(55 65 81 / var(--tw-bg-opacity));
}

.mainContainer {
	margin-left: 2.5rem;
	width: 100%;
}

@media (max-width: 1536px){
  .sidebar {
		min-width: 300px;
	}
}

@media (max-width: 1366px){
  .sidebar {
		min-width: 280px;
	}
}

@media (max-width: 1280px){
  .sidebar {
		min-width: 250px;
	}
}

@media (max-width: 1024px){
  .sidebar {
		min-width: 220px;
	}
}

@media (max-width: 768px){
  .sidebar {
		display: none;
	}
	.mainContainer {
		margin-left: 0;
	}
}

@media (max-width: 640px){
  .sidebar {
		display: none;
	}
	.mainContainer {
		margin-left: 0;
	}
}