@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 10, 10, 10;
    --background-end-rgb: 40, 40, 40;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    to bottom,
    transparent,
    rgb(var(--background-end-rgb))
  )
  rgb(var(--background-start-rgb));
  min-height: 100vh;
}

main {
  margin: auto;
  width: 1366px;
  padding-left: 50px;
  padding-right: 50px;
}

h1 {
  font-size: xx-large;
  font-weight: 600;
}

h2 {
  font-size: large;
  font-weight: bold;
}

footer{
  display: flex;
  margin: auto;
  width: 1366px;
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 20px;
  margin-bottom: 0px;
}

/* Help with different user screen resolution*/
@media (max-width: 1536px){
  main{
    width: 1366px;
    padding-left: 50px;
    padding-right: 50px;
  }
  footer{
    width: 1366px;
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (max-width: 1366px){
  main{
    width: 1280px;
    padding-left: 40px;
    padding-right: 40px;
  }
  footer{
    width: 1280px;
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (max-width: 1280px){
  main{
    width: 1024px;
    padding-left: 30px;
    padding-right: 30px;
  }
  footer{
    width: 1024px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 1024px){
  main{
    width: 768px;
    padding-left: 20px;
    padding-right: 20px;
  }
  footer{
    width: 768px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 768px){
  main{
    width: 640px;
    padding-left: 15px;
    padding-right: 15px;
  }
  footer{
    width: 640px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (max-width: 640px){
  main{
    width: 475px;
    padding-left: 10px;
    padding-right: 10px;
  }
  footer{
    width: 475px;
    padding-left: 10px;
    padding-right: 10px;
  }
}